{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
	<div class="card-header border-bottom"><h4>Reset Password</h4></div>
  	<div class="card-body">
	    <p>Hello from {{ current_site.name }}</p> 

	    <p>You're receiving this e-mail because you or someone else has requested a password for your user account. </p>

		<p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p> 

		<a href="{{ password_reset_url }}" class="btn btn-primary">Reset your password</a>
 	</div>
 	<div class="card-footer">
 		<p>Thank you for using {{ current_site.name }}!</p> 
 	</div>
</div>
{% endblock %}

