{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block section_header %}
  <section class="section-header">    
      <h1>Applying for the Bursary</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
        <div class="breadcrumb-item">Apply</div>
      </div>
  </section>
{% endblock section_header %}
{% block content %}
  {% include 'applications/wizard/_progress_bar.html' %}
  {% block wizard_content %}{% endblock wizard_content %}
{% endblock %}
{% block customjs %}{% endblock customjs %}
