.swal2-button {
  border-radius: 3px;
  font-size: 16px;
  &:focus {
    box-shadow: none;
  }
  &.swal2-button--confirm {
    @include button-shadow(primary);
    background-color: color(primary);
    &:focus {
      opacity: .3;
    }
  }
}

.swal2-footer {
  text-align: center;
}

.swal2-text {
  text-align: center;
  line-height: 24px;
  font-weight: 300;
}

.swal2-popup .swal2-title {
  font-weight: 300;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #FFF;
  color: color(dark);
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover{
  background-color: #FFF;
  color: color(dark);
  background-image: none !important;
}

.swal2-popup .swal2-image {
  max-width: 10%;
  margin: 0;
}