<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>CHUOCHANCE {% if title %}| {{title}}{% endif %}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha512-LhZScx/m/WBAAHyiPnM+5hcsmCMjDDOgOqoT9wyIcs/QUPm6YxVNGZjQG5iP8dhWMWQAcUUTE3BkshtrlGbv2Q==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-side-modals.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!--<link rel="icon" href="{% static 'img/logo.png' %}"> -->
</head>

<body>
  <div id="app">    
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element ml-4">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">              
              <div class="search-header">
                Result
              </div>
              <div class="search-item">
                <p class="text-muted m-3">The search functionality will be working soon...</p>
              </div>                            
            </div>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">            
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">
                Notifications                 
              </div>
              <div class="dropdown-list-message">
                <a href="#" class="dropdown-item dropdown-item-unread">                   
                  <div class="dropdown-item-desc">                      
                    <b class="text-white">Notifications will appear here</b>  
                  </div>
                </a>
              </div>                
            </div>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">{{user.id_number}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logged in {{user.last_login|naturaltime}}</div>
              <a href="{% url 'profile' %}" class="dropdown-item has-icon">
                <i class="fas fa-user-circle"></i> Profile
              </a>
              <a href="features-activities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Activities
              </a>
              <a href="features-settings.html" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>              
              <a href="{% url 'account_logout' %}" class="dropdown-item text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>              
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-1">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'home' %}">
            <!--  <img src="{% static 'img/logo.png' %}" alt="CPSB Logo" width="100" class="img-fluid mt-2"> -->
              <span><h5>CHUOCHANCE</h5></span>
            </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="CPSB Logo" width="50" class="img-fluid">
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li id="dashboard-link">
              <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-desktop text-info"></i> <span>Dashboard</span></a>
            </li>
            <li class="menu-header">Applications</li>
            <li id="applications-link">
              <a class="nav-link" href="{% url 'applications-list' %}"><i class="fas fa-tasks text-info"></i> <span>Applications</span></a>
            </li>
            <li id="recommendations-link">
              <a class="nav-link" href="{% url 'recommended-list' %}"><i class="fas fa-lightbulb text-warning"></i> <span>Recommendations</span></a>
            </li>
            <li id="successful-link">
              <a class="nav-link" href="{% url 'successful-list' %}"><i class="fas fa-check-square text-success"></i> <span>Successful</span></a>
            </li>
            <li class="menu-header">Budget</li>
            <li id="settings-link">
              <a class="nav-link" href="{% url 'settings' %}"><i class="fas fa-cog text-dark"></i> <span>Settings</span></a>
            </li>
            <li class="menu-header">Analytics</li>
            <li id="analytics-link">
              <a class="nav-link" href="{% url 'analytics' %}"><i class="fas fa-chart-area text-danger"></i> <span>Visualization</span></a>
            </li>            
          </ul>                  
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        {% include "layout/_modal.html" %}
        <section class="section">
          {% block section_header %}{% endblock section_header %}          
          <div class="section-body">
            {% block content %}{% endblock content %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="text-center">
          Copyright &copy; CHUOCHANCE <script>document.write(new Date().getFullYear())</script>
        </div>
      </footer>
    </div>  
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
  
  <!-- JS Libraies -->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js" integrity="sha512-hkmipUFWbNGcKnR0nayU95TV/6YhJ7J9YUAkx4WLoIgrVr7w1NYz28YkdNFMtPyPeX1FrQzbfs3gl+y94uZpSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <!-- Page Specific JS File -->
  
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/stisla.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    {% if messages %}
      {% for message in messages %}
        var swal_func = function() {
          Swal.fire({
            type: "{{message.tags}}",
            title: "{{message|safe}}",
            position: 'bottom-start',
            toast: true,
            confirmButtonText: "&times;",
          });
        }
        swal_func();
      {% endfor %}      
    {% endif %}
  </script>
  
    <!-- Template JS File -->
  {% block customjs %}    
  {% endblock customjs %}
</body>
</html>